<% title "Sent" %>

<%= render 'shared/segmented-control' %>

<table>
  <thead>
    <tr>
      <th width="75%">Post Title</th>
      <th>Date Created</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% for sent in @sents %>
      <tr>
        <td><%=link_to sent.title, edit_post_path(sent) %></td>
        <td><%=sent.created_at.stamp("March 1, 1999") %>
        <td>
          <%=link_to "rm", post_path(sent), method: :delete, data: { confirm: 'Really delete this post?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
      

<%= paginate @sents %>