<% title @post.title %>

<article class="posts">

  <header class="head-matter">
    <h1 class="post-title">
      <%= @post.title %>
    </h1>
    <h6 class="datetime">
      <%= @post.created_at.stamp("Sunday, May 1, 2000 at 9:00 AM") %> &mdash; <%= @post.city %>
    </h6>
  </header>

  <!-- post media but only if it exists -->
  <% if @post.media %>
    <div class="media">
      <%= @post.media.html_safe %>
    </div>
  <% end %>

  <%= markdown(@post.body) %>

  <div class="tags">
    <%= raw(@post.tag_list.map { |t| link_to t, tag_path(t) }.join(' ')) %>
  </div>

</article>

<aside class="links">
  
</aside>