<!DOCTYPE html>
<html>
  <head>
    <title><%= if content_for?(:title) then yield(:title) + ' | ' end %>Journalistic Intent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <article class="page">
      <%= yield %>
    </article>
    <%= render 'shared/footer' %>
  </body>
</html>
