<!DOCTYPE html>
<html>
  <head>
    <title>Nickblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <article class="page">
      <%= yield %>
    </article>
    <%= render 'shared/footer' %>
  </body>
</html>
